In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('/content/Social_Network_Ads.csv')

In [4]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [21]:
x=data.iloc[:,0:4]

In [22]:
x

      User ID  Gender  Age  EstimatedSalary
0    15624510    Male   19            19000
1    15810944    Male   35            20000
2    15668575  Female   26            43000
3    15603246  Female   27            57000
4    15804002    Male   19            76000
..        ...     ...  ...              ...
395  15691863  Female   46            41000
396  15706071    Male   51            23000
397  15654296  Female   50            20000
398  15755018    Male   36            33000
399  15594041  Female   49            36000

[400 rows x 4 columns]

In [23]:
y=data.iloc[:,-1]

In [24]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [28]:
x_train

      User ID  Gender  Age  EstimatedSalary
195  15667742    Male   34            43000
203  15809347  Female   41            71000
369  15624755  Female   54            26000
192  15779581    Male   29            43000
373  15708791    Male   59           130000
..        ...     ...  ...              ...
393  15635893    Male   60            42000
66   15679760    Male   24            19000
356  15778368    Male   54            70000
139  15741094    Male   19            25000
185  15814816    Male   31            66000

[360 rows x 4 columns]

In [8]:
from sklearn.compose import ColumnTransformer

In [17]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [18]:
transformer=ColumnTransformer(transformers=[('tran1',StandardScaler(),['user ID'])
                                            ('tran2',OneHotEncoder(drop='first',spase=False),['gender']),
                                            ('tran3',StandardScaler,['Age']),
                                            ('tran4',StandardScaler(),['EstimatedSalary'])],reminder='passthrough')

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<ipython-input-18-5a92873e0825>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  transformer=ColumnTransformer(transformers=[('tran1',StandardScaler(),['user ID'])

TypeError: ignored

In [31]:
transformer = ColumnTransformer(transformers=[
    ('tran1', StandardScaler(), ['User ID']),
    ('tran2', OneHotEncoder(drop='first', sparse=False), ['Gender']),
    ('tran3', StandardScaler(), ['Age']),
    ('tran4', StandardScaler(), ['EstimatedSalary'])], remainder='passthrough')

In [33]:
x_train_new=transformer.fit_transform(x_train)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [35]:
x_train=pd.DataFrame(x_train_new,columns=x_train.columns)

In [36]:
x_train

      User ID  Gender       Age  EstimatedSalary
0   -0.328333     1.0 -0.322237        -0.775959
1    1.652936     0.0  0.354461         0.047634
2   -0.929786     0.0  1.611186        -1.275999
3    1.236465     1.0 -0.805593        -0.775959
4    0.246005     1.0  2.094541         1.783064
..        ...     ...       ...              ...
355 -0.773949     1.0  2.191212        -0.805373
356 -0.160183     1.0 -1.288949        -1.481897
357  1.219493     1.0  1.611186         0.018220
358  0.697973     1.0 -1.772304        -1.305413
359  1.729456     1.0 -0.612251        -0.099436

[360 rows x 4 columns]

In [37]:
x_test_new=transformer.fit_transform(x_test)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [38]:
x_test=pd.DataFrame(x_test_new,columns=x_test.columns)

In [39]:
x_test

     User ID  Gender       Age  EstimatedSalary
0  -0.667351     1.0  0.489825         0.174460
1   0.070453     1.0 -0.408936         0.755993
2   1.017471     0.0  1.208833         1.017683
3  -1.651582     0.0 -0.498812        -0.377996
4   0.499784     1.0  0.040444        -0.610610
5   1.612031     0.0 -0.498812         0.116307
6   1.373149     0.0 -0.319060         0.203537
7  -0.087729     0.0  1.658213         0.087230
8  -1.522820     0.0 -0.319060         2.122595
9  -0.205477     0.0 -1.307697        -1.686446
10  0.900469     0.0  0.849329        -1.075836
11 -0.225514     1.0  0.669577         0.029077
12  1.372085     0.0 -0.858316         0.465226
13 -1.216710     1.0  1.748090        -1.133989
14  1.338367     1.0  1.748090        -0.901376
15 -0.436939     1.0 -1.936829        -0.087230
16 -0.802759     0.0 -0.948193         1.250296
17 -1.479996     0.0  0.130320         0.494303
18  1.120268     0.0  1.478461         1.424756
19  0.965900     0.0 -1.217821        -1.628292
20 -1.237051     0.0  1.658213         0.290766
21  0.016008     0.0  0.040444        -0.377996
22 -1.232532     1.0 -0.049432        -0.755993
23 -1.037966     0.0 -0.229184         1.133989
24  1.638784     1.0 -0.049432         0.988606
25  0.146373     1.0  0.489825        -1.453832
26 -0.409219     1.0  1.568337         2.064442
27 -0.694034     0.0 -0.588688        -0.029077
28 -0.197296     0.0 -1.846953        -1.075836
29 -1.666451     1.0 -0.049432        -0.058153
30  1.316838     1.0 -1.038069         2.180749
31 -0.448464     0.0 -1.936829        -1.366602
32  0.771278     0.0 -0.319060        -0.465226
33  0.809515     0.0 -0.498812         0.697840
34  1.606821     0.0 -0.229184        -0.523380
35 -0.402185     0.0 -0.139308        -0.058153
36  0.322975     0.0  0.130320        -0.087230
37 -0.808356     1.0  0.759453        -0.232613
38 -0.657553     1.0  1.118957        -0.029077
39  0.189418     1.0 -0.498812        -1.482909

In [40]:
from sklearn.linear_model import LogisticRegression

In [42]:
model=LogisticRegression()

In [43]:
model.fit(x_train,y_train)

LogisticRegression()

In [44]:
test=model.predict(x_test)

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
accuracy_score(test,y_test)

0.75

In [47]:
from mlxtend.plotting import plot_decision_regions